.wp-block-glutenblocks-collapse {
    .gb-collapse {
        display: block;
        padding: 0 1rem;

        input {
            display: none;
        }

        &__bar {
            display: flex;
            align-items: center;
            cursor: pointer;

            &--title {
                width: calc(100% - 30px);
                padding-right: 15px;
            }

            &--arrow {
                width: 20px;
                height: 20px;
                border-right: 5px solid black;
                border-bottom: 5px solid black;
                transform: rotate(-45deg);
                transition: all 0.35s;
            }

            @media (max-width: 767px) {
                &--title {
                    font-size: 1.4rem;
                }

                &--arrow {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        &__content {
            transition: max-height 0.5s ease-out;
            max-height: 0;
            overflow: hidden;
        }
    }

    input:checked {
        + .gb-collapse__bar .gb-collapse__bar--arrow {
            transform: rotate(45deg);
        }

        ~ .gb-collapse__content {
            max-height: 1000vh;
            transition: max-height 1.4s ease-in;
        }
    }
}
