/vendor
composer.phar
composer.lock
.DS_Store
.idea/
phpunit.xml
Thumbs.db
node_modules
vendor
mix-manifest.json
yarn-error.log
/wordpress
/coverage

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
