// Put your styles that will only be applied in the editor.

.wp-block-glutenblocks-media {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "media-text-media media-text-content" "resizer resizer";
    grid-template-columns: 50% auto;

    &.gb-media {
        &--aligned-top {
            align-items: flex-start;
        }

        &--aligned-middle {
            align-items: center;
        }

        &--aligned-bottom {
            align-items: flex-end;
        }
    }

    &.has-media-on-the-right {
        grid-template-areas:
            "media-text-content media-text-media"
            "resizer resizer";
        grid-template-columns: auto 50%;
    }

    .wp-block-glutenblocks-media__media {
        grid-area: media-text-media;
        margin: 0;
    }

    .wp-block-glutenblocks-media__content {
        word-break: break-word;
        grid-area: media-text-content;
        padding: 0 8% 0 8%;
    }

    & > figure {
        > img,
        > video {
            max-width: unset;
            vertical-align: middle;
        }

        > video {
            width: 100%;
        }
    }

    .__resizable_base__ {
        grid-area: resizer;
    }

    .block-editor-media-container__resizer {
        grid-area: media-text-media;
        align-self: center;
        width: 100% !important;
    }

    .is-image-fill .block-editor-media-container__resizer {
        // The resizer sets an inline height but for the image fill we set it to full height.
        height: 100% !important;
    }

    .block-editor-inner-blocks {
        word-break: break-word;
        grid-area: media-text-content;
        text-align: initial;
        padding: 0 8% 0 8%;
    }

    & > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block {
        max-width: unset;
    }

    .block-library-media-text__media-container video {
        vertical-align: middle;
        width: 100%;
    }

    figure.block-library-media-text__media-container {
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
            display: flex;
            align-self: center;
            max-width: 100%;
        }
    }
}
