// Put your styles that will only be applied in the editor.
.wp-block-glutenblocks-jumbotron-carousel {
    /**
    * style variables
    */
    $noOfSlides:10;
    $carouselHeight: 100%;
    $carouselWidth: 100%;
    $carouselIndicatorSize: 15px;
    $carouselControlSize: 30px;
    $slideTransition: 0.5s;
    $arrowColor: black;
    $indicatorColor: black;

    padding: 40px 30px;

    .gb-carousel-content {
        z-index: 2;
        position: relative;
    }

    /**
    * Control & indicator mixin
    */
    .gb-carousel {
        width: 100%;

        &__container {
            overflow: auto;
            height: auto;
            width: $carouselWidth;
            min-height: 150px;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE 10+ */

            &::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
            }
        }

        // &__slide
        &__controls,
        &__activator {
            display: none;
        }

        @for $num from 1 through $noOfSlides {
            &__activator:nth-of-type(#{$num}) {
                &:checked ~ .gb-carousel__track {
                    transform: translateX(-(($num - 1) * 100%));
                }

                &:checked ~ .gb-carousel__slide:nth-of-type(#{$num}) {
                    transition: opacity $slideTransition, transform $slideTransition;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }

                &:checked ~ .gb-carousel__controls:nth-of-type(#{$num}) {
                    display: block;
                    opacity: 1;
                }

                &:checked ~ .gb-carousel__indicators .gb-carousel__indicator:nth-of-type(#{$num}) {
                    opacity: 1;
                }
            }
        }

        /**
            * Control element - right/left arrows
        */
        &__control {
            height: $carouselControlSize;
            width: $carouselControlSize;
            margin-top: -($carouselControlSize / 2);
            top: 50%;
            position: absolute;
            display: block;
            cursor: pointer;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: $arrowColor;
            opacity: 0.35;
            outline: 0;
            z-index: 3;

            &:hover {
                opacity: 1;
            }

            &--backward {
                left: 40px;
                transform: rotate(-135deg);
            }

            &--forward {
                right: 40px;
                transform: rotate(45deg);
            }
        }

        /**
        * Element for holding slide indicators
        */
        &__indicators {
            position: absolute;
            bottom: 40px;
            width: 100%;
            text-align: center;
            z-index: 3;
        }

        /**
        * Indicator for indicating active slide
        */
        &__indicator {
            height: $carouselIndicatorSize;
            width: $carouselIndicatorSize;
            border-radius: 100%;
            display: inline-block;
            z-index: 2;
            cursor: pointer;
            opacity: 0.35;
            margin: 0 2.5px 0 2.5px;
            background-color: $indicatorColor;

            &:hover {
                opacity: 0.75;
            }
        }

        &__slide {
            height: 100%;
            position: absolute;
            opacity: 0;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            padding: 45px;
        }

        /**
        * Where slide content is
        */
        &__track {
            padding: 0;
            margin: 0;
            transition: transform $slideTransition ease 0s;

            &--scale {
                .gb-carousel__slide {
                    transform: scale(0);
                }
            }

            .gb-carousel__slide {
                display: block;
                top: 0;
                left: 0;
                right: 0;
                opacity: 1;

                @for $num from 1 through $noOfSlides {
                    &:nth-of-type(#{$num}) {
                        transform: translateX(($num - 1) * 100%);
                    }
                }
            }

            .gb-height-calculator {
                opacity: 0;
                display: flex;

                .gb-carousel__slide {
                    position: unset;
                    min-width: 100%;
                }
            }
        }

        &--thumb .gb-carousel__indicator {
            height: 30px;
            width: 30px;
        }
    }
}
