.wp-block-glutenblocks-row {
    display: flex;
    flex-wrap: wrap;
}

.wp-block-glutenblocks-column {
    z-index: 1;
    min-width: 0;
    min-height: 0;

    &.valign-middle {
        align-self: center;
    }

    &.valign-bottom {
        align-self: flex-end;
    }
}

.gb-row-valign-middle {
    align-items: center;
}

.gb-row-valign-bottom {
    align-items: flex-end;
}

// Tablet specific
@media (min-width: 768px) and (max-width: 1024px) {
    .gb-row-column-wrap.gb-tab-layout-row {
        flex-direction: column;
    }

    .gb-row-column-wrap.gb-tab-layout-row.gb-m-colapse-right-to-left {
        flex-direction: column-reverse;
    }

    .gb-row-column-wrap.gb-tab-layout-row > .wp-block-glutenblocks-column {
        flex: none;
        width: 100%;
        margin-right: 0;
    }
}

// Mobile specific
@media (max-width: 767px) {
    .gb-row-column-wrap.gb-mobile-layout-row {
        flex-direction: column;
    }

    .gb-row-column-wrap.gb-mobile-layout-row.gb-m-colapse-right-to-left {
        flex-direction: column-reverse;
    }

    .wp-block-glutenblocks-column {
        margin-bottom: 30px;
    }

    .gb-row-column-wrap.gb-mobile-layout-row > .wp-block-glutenblocks-column {
        flex: none;
        width: 100%;
        margin-right: 0;
    }
}
