// Put your styles that will only be applied in the editor.
.gb-jumbotron {
    position: relative;
    height: auto;

    &__scroll-to {
        position: absolute;
        bottom: 0;
        z-index: 100;
        transform: translateX(-50%);
        left: 50%;
    }

    & > .gb-button-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;

        .gb-button-wrapper {
            display: inline-block;
        }
    }
}
