.gb-hero {
    position: relative;
    display: flex;

    &--theme-light {
        color: white;
    }

    &__overlay,
    &__background {
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        height: auto;
        width: 100%;
    }

    &__background {
        height: 100%;
        margin: 0;
        overflow: hidden;
        text-align: center;
        z-index: 0;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        z-index: 1;

        &--valign-top {
            align-self: flex-start;
        }

        &--valign-middle {
            align-self: center;
        }

        &--valign-bottom {
            align-self: flex-end;
        }
    }
}
