.wp-block-glutenblocks-listlink {
    .gb-list-links__text {
        flex-basis: 75%;
    }

    .block-editor-rich-text__editable {
        display: inline-block;
    }

    .blocks-button__inline-link {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1.4;
        width: 340px;
        position: absolute;
        left: 0;
        top: 100%;
        border: 1px solid #eee;
        padding: 0;
        background: white;
        transform: translate(0, 0);
        z-index: 100;
    }

    .gb-list-links__action {
        font-size: 0.875rem;
    }

    .gb-list-links--download,
    .gb-list-links--visit,
    .gb-list-links--custom {
        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGQ9Ik0xMC41MDQgMTcuMzgyVjMuMDA0YTEuNSAxLjUgMCAwIDEgMyAwdjE0LjM3OGwzLjQ0LTMuNDM4YTEuNSAxLjUgMCAwIDEgMi4xMjEgMi4xMmwtNS44OTEgNS44OWExLjQ5NyAxLjQ5NyAwIDAgMS0yLjMzOSAwbC01Ljg5MS01Ljg5YTEuNDk5IDEuNDk5IDAgMSAxIDIuMTIxLTIuMTJsMy40NCAzLjQzOHoiIGlkPSJhIi8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS0xMzg0LTMzMTJIMjE2djc4NzZoLTE2MDB6Ii8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQgLTEpIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PG1hc2sgaWQ9ImIiIGZpbGw9IiNmZmYiPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L21hc2s+PHVzZSBmaWxsPSIjMDAwIiB4bGluazpocmVmPSIjYSIvPjxnIG1hc2s9InVybCgjYikiIGZpbGw9IiMzNjM4MzYiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L2c+PC9nPjwvZz48L3N2Zz4=) no-repeat 50% 50%;
            content: "";
            display: inline-block;
            height: 24px;
            margin-left: 0.6rem;
            width: 24px;
            vertical-align: middle;
        }
    }

    .gb-list-links--visit:after {
        transform: rotateZ(-90deg);
    }
}
